<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-Da-Burger! (or die trying...)</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets\css\aLittleSeasoning.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets\js\clickyLogic.js"></script>
	</head>
	<body>
		<div class="text-center">
			<img src='assets/img/burger.png'>
			<h1>Look! Let's eat!!</h1>

			{{{ body }}}
			
			{{!-- TODO Change to form submit - so no JS is needed --}}
			<label for="newBurger">Create New Burger: </label>
			<input id="newBurger" class="form-control" type="text">
			<button id="createNewBurgerButton" class="btn btn-success">Create This Burger</button>
		</div>
	</body>
</html>
