.margin5, h2, h3, h4, input, select, button{
    margin-left: 5%;
    margin-right: 5%;
}

.imgMain {
    height: 40%;
    width: 40%;
}

.smallImg {
    height: 20px;
    width: 20px;
}

.form-control, .btn {
    width: 90%
}