.margin5, h2, h3, h4, input, select, button{
    margin-left: 5%;
    margin-right: 5%;
}

.imgMain {
    height: 50%;
    width: 50%;
}

.smallImg {
    height: 25px;
    width: 25px;
}

.form-control, .btn {
    width: 90%
}