html {
	height:100%;
}

body {
    height:100%;
    margin:0px;
	padding:0px;
	padding-bottom:70px;
	/* background-image: url("../images/concrete_seamless.png"); */
	min-width: 340px
}

navbar {

	background-color:rgb(165, 171, 195);
	/* border-top: 5px solid teal; */
	/* position: relative;
	bottom:0;
	height:70px; */
} 

footer {
    /* height:5%;  */
    clear: both;
	/* text-align: center; */
	vertical-align: middle;
	background-color:rgb(165, 171, 195);
	/* border-top: 5px solid teal; */
	position: relative;
	bottom:0;
	height:70px;
	/*margin-top:-70px;*/   
}

.wrapper {
    height: 100%
}

.margin5, h2, h3, h4, input, select, button{
    margin-left: 5%;
    margin-right: 5%;
}

.imgMain {
    height: 25%;
    width: 25%;
}

.smallImg {
    height: 25px;
    width: 25px;
}

.form-control, .btn {
    width: 90%
}